body{
    margin: 0;
    padding: 0;
    background-color: indigo;
}
h2{
 color:darkorange;
 text-align: center;
 font-size: 35px;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
button{
    margin-top:20px;
    width:100px;
}
#main-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.align{
    margin-right: 40px;
}
.align button,button[type="reset"]{
    display:block;
    background-color: aqua;
    color:rgb(0, 0, 0);
    padding:10px;
    border-radius:12px;
    margin-left: 13px;
    cursor:pointer;
}
button[type="reset"]{
    display:inline-block;
    margin-left: 46%;
    margin-right: auto;
}
img{
    width:120px;
    height:110px;
    border-radius: 50%;
}
button:hover{
    border-color: aqua;
    border-width: 3px;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#display-result{
    color:rgb(255, 255, 255);
    font-size: x-large;
    text-align: center;
}
@media screen and (max-width:550px){
    h2{
        font-size:28px;
    }
    #main-section{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.align{
  margin-bottom: 40px;
}
button[type="reset"]{
    display:inline-block;
    margin-left: 37%;
    margin-right: auto;
    margin-bottom: 20px;
}
#display-result{
    color:rgb(255, 255, 255);
    font-size: large;
    text-align: center;
}
}
@media screen and (min-width:551px) and (max-width:700px){
h2{
    font-size:30px;
}
button[type="reset"]{
    margin-left: 40%;
    margin-right: auto;
}
#display-result{
    color:rgb(255, 255, 255);
    font-size: large;
    text-align: center;
}
}
@media screen and (min-width:701px) and (max-width:900px){
    button[type="reset"]{
    margin-left: 43%;
    margin-right: auto;
}
@media screen and (min-width:901px){
    button[type="reset"]{
    margin-left: 30%;
    margin-right: auto;
}
}